
@*TO DO:*@
<div hidden ="@Hide">
    <h3> Are you sure you want to do this action?</h3>
    <button >
        Yes
    </button>
    <button>
        NO
    </button>
</div>

@code {
    [Parameter]
    public bool Hide { get; set; } = false;



}
